In [1]:
import pandas as pd

In [2]:
#T-test

In [3]:
from scipy.stats import ttest_ind

In [4]:
df=pd.read_excel('/Users/anusha._s/Desktop/Rutgers/Sem 3/Capstone Workbook_V3.xlsx',sheet_name='Dup_Cleaneddata')

In [5]:
df.head()

,month,adjustment,cancelled,order_id,order_name,purchase_option,billing_city,billing_region,billing_country,customer_email,...,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,average_order_value,net_quantity,Customer_level_type
0,2019-02,No,No,786783141923,#1005,One-time,Rockville Centre,New York,United States,ldwyer.nutrition88@gmail.com,...,59.99,0.0,0.0,59.99,0,0.0,59.99,59.99,1,First-time
1,2019-02,No,No,779573755939,#1001,One-time,Millersville,Maryland,United States,Entropypie@deathaway.com,...,59.99,0.0,0.0,59.99,0,0.0,59.99,59.99,1,Returning
2,2019-02,No,No,788293943331,#1007,One-time,New Orleans,Louisiana,United States,peter.bodenheimer@food-x.com,...,34.95,0.0,0.0,34.95,0,0.0,34.95,34.95,1,Returning
3,2019-02,No,No,796723707939,#1014,One-time,New York,New York,United States,patrone2004@yahoo.com,...,34.95,0.0,0.0,34.95,0,0.0,34.95,34.95,1,Returning
4,2019-02,No,No,781975486499,#1003,One-time,Corcoran,Minnesota,United States,mlholt3@hotmail.com,...,119.98,0.0,0.0,119.98,0,0.0,119.98,119.98,2,First-time

In [6]:
One_Time=df[df['purchase_option']=='One-time']

In [7]:
Subscription=df[df['purchase_option']=='Subscription']

In [8]:
ttest_ind(One_Time['net_sales'], Subscription['net_sales'])

Ttest_indResult(statistic=-9.940654346395954, pvalue=3.1822710237293554e-23)

In [9]:
#Chi-test

In [10]:
from scipy.stats import chi2_contingency

In [11]:
contigency= pd.crosstab(df['purchase_option'], df['Customer_level_type'])

In [12]:
contigency

Customer_level_type  First-time  Returning
purchase_option
One-time                  11393       6452
Subscription                  0         41

In [13]:
contigency_pct = pd.crosstab(df['purchase_option'], df['Customer_level_type'], normalize='index')
contigency_pct

Customer_level_type  First-time  Returning
purchase_option
One-time               0.638442   0.361558
Subscription           0.000000   1.000000

In [14]:
c, p, dof, expected = chi2_contingency(contigency) 
# Print the p-value
print(p)

8.154859641748538e-17

In [15]:
print(c)

69.37174441418705