In [121]:
import pandas as pd

In [122]:
df=pd.read_excel('Capstone Workbook_V3.xlsx',sheet_name='Cleaned_Rawdata')

In [123]:
df.head()

,month,adjustment,cancelled,order_id,order_name,purchase_option,billing_city,billing_region,billing_country,customer_email,...,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,average_order_value,net_quantity,Customer_level_type
0,2019-02,No,No,786783141923,#1005,One-time,Rockville Centre,New York,United States,ldwyer.nutrition88@gmail.com,...,59.99,0.0,0.0,59.99,0,0.0,59.99,59.99,1,First-time
1,2019-02,No,No,779573755939,#1001,One-time,Millersville,Maryland,United States,Entropypie@deathaway.com,...,59.99,0.0,0.0,59.99,0,0.0,59.99,59.99,1,First-time
2,2019-02,No,No,788293943331,#1007,One-time,New Orleans,Louisiana,United States,peter.bodenheimer@food-x.com,...,34.95,0.0,0.0,34.95,0,0.0,34.95,34.95,1,First-time
3,2019-02,No,No,796723707939,#1014,One-time,New York,New York,United States,patrone2004@yahoo.com,...,34.95,0.0,0.0,34.95,0,0.0,34.95,34.95,1,First-time
4,2019-02,No,No,781975486499,#1003,One-time,Corcoran,Minnesota,United States,mlholt3@hotmail.com,...,119.98,0.0,0.0,119.98,0,0.0,119.98,119.98,2,First-time

In [124]:
def change_customer_type(cols):
    name1=cols[0]
    name2=cols[1]
    tmp=df[df['customer_id']==name1]
    if 'Returning' in tmp['Customer_level_type'].unique():
        return 'Returning'
    else:
        return 'First-time'
    del tmp

In [125]:
df['Customer_level_type2']=df[['customer_id','Customer_level_type']].apply(change_customer_type,axis=1)

In [126]:
df.to_excel('Capstone Workbook_V3_1.xlsx',sheet_name='Cleaned_Rawdata1')

In [113]:
from scipy.stats import chi2_contingency